@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Cardo:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*Подключение шрифтов*/
/*--------------------*/
/*Стандартный шрифт*/
body, input, button, textarea, a {
  font-family: "Raleway", sans-serif;
  color: #fff;
}

/*--------------------*/
/*Ширина контейнера*/
.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1170px;
}

/*--------------------*/
@keyframes bounce {
  0%, 25%, 50%, 75%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-12px);
  }
}
.btn {
  display: inline-block;
  width: 200px;
  height: 46px;
  font-size: 13px;
  line-height: 1.6;
  text-transform: uppercase;
  background-color: #e84545;
  padding: 13px 46px;
  margin: 0 auto;
}

.btn:hover {
  filter: drop-shadow(3px 5px 5px #000);
}

/* INTRO BLOCK
==================== */
.first__screen {
  background: #31344e url("../../img/bg-1.jpg") 0 0/cover no-repeat;
  height: 750px;
  margin: 0px 0px 47px 0px;
}

.header__row {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #505269;
  padding: 35px 0px;
  margin: 0px 0px 13% 0px;
}

.header__logo {
  transition: all 0.1s linear;
}

.header__logo:hover {
  filter: drop-shadow(3px 5px 5px #000);
}

.header__menu-list {
  display: flex;
}

.header__menu-list li {
  margin-right: 60px;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  opacity: 0.75;
  transition: opacity 0.1s linear;
}

.header__menu-list li:last-child {
  margin-right: 0px;
}

.header__menu-list li:hover {
  opacity: 1;
}

.intro {
  text-align: center;
}

.intro__title {
  width: 80%;
  font-family: "Open Sans";
  font-size: 65px;
  font-weight: 700;
  line-height: 1.1;
  text-transform: uppercase;
  margin: 0px auto 41px auto;
}

.intro__subtitle {
  width: 80%;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0px auto 6.5% auto;
}

/* FEATURES BLOCK
==================== */
.features__row {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.features__row:last-child {
  padding: 0px 0px 124px 0px;
}

.features__item {
  width: 26%;
  min-height: 186px;
  text-align: center;
  margin: 74px 0px 0px 0px;
}

.features__item:hover img {
  animation: bounce 2s;
}

.features__item-title {
  color: #2d3033;
  font-weight: 700;
  text-transform: uppercase;
  margin: 34px 0px 25px 0px;
}

.features__item-text {
  color: #6c7279;
  line-height: 1.5;
  padding: 0px;
}

/* GALLERY BLOCK
==================== */
.gallery__block {
  margin: 0px 0px 75px 0px;
}

.gallery__row {
  display: flex;
  flex-wrap: wrap;
}

.gallery__element {
  position: relative;
  width: 25%;
  background-color: #e84545;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
}

.gallery__element img {
  width: 100%;
}

.gallery__element img:hover {
  opacity: 0.2;
}

.gallery__element:hover .author {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-item: center;
}

.author {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  text-align: center;
}

.author h3 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 0px 0px 13px 0px;
}

/* WORKERS BLOCK
==================== */
.workers {
  margin: 0px 0px 100px 0px;
}

.workers__row {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0px -15px;
}

.workers__element {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 25%;
  padding: 15px 15px;
}

.workers__element img {
  display: block;
  width: 100%;
  height: auto;
}

.workers__element-info {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.name {
  min-height: 40px;
  color: #4b4e50;
  font-size: 22px;
  margin: 30px 0px 16px 0px;
}

.position {
  color: #e84545;
  font-size: 13px;
  text-transform: uppercase;
  margin-bottom: 20%;
}

.bio {
  color: #6c7279;
  line-height: 21px;
  margin: 30px 0px 30px 0px;
}

.social {
  display: flex;
}

.social__icon {
  display: block;
  fill: #c6cacc;
  height: 18px;
}

.social a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 1px solid #c6cacc;
  border-radius: 3px;
  margin: 2px;
}

.social a:hover {
  background-color: #c6cacc;
}

.social a:hover .social__icon {
  fill: #00acee;
}

/* QUOTE BLOCK
==================== */
.quote {
  margin: 0px 0px 100px 0px;
  background-color: #53354a;
  overflow: hidden;
}

.quote__row {
  display: flex;
  flex-wrap: wrap;
}

.photo {
  position: relative;
  width: 50%;
  height: 500px;
}

.quote__img {
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 1;
  transform: translateY(-50%);
}

.quote__text {
  width: 50%;
  flex: 1 1 auto;
  text-align: left;
  padding: 6%;
}

.quote__text-title {
  max-width: 510px;
  font-family: Cardo;
  font-size: 36px;
  line-height: 42px;
  margin: 0px 0px 7% 0px;
}

.quote__text-name {
  font-size: 13px;
  font-weight: 700;
  line-height: 21px;
  text-transform: uppercase;
}

/* DOWNLOAD BLOCK
==================== */
.download {
  text-align: center;
}

.download__title {
  color: #2d3033;
  font-size: 28px;
  font-weight: 300;
  line-height: 21px;
  margin: 0px 0px 16px 0px;
  padding: 0px 5%;
}

.download__subtitle {
  color: #2d3033;
  font-size: 13px;
  font-weight: 700;
  line-height: 21px;
  text-transform: uppercase;
  margin: 0px 0px 58px 0px;
}

.download__btn {
  display: inline-block;
  width: 280px;
  height: 46px;
  margin: 0px 0px 5% 0px;
}

/* CONTACTS BLOCK
==================== */
.contacts {
  background-color: #3a3e64;
  text-align: center;
}

.contacts h3 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 71px 0px 22px 0px;
}

.contacts p {
  line-height: 22.5px;
  color: #80839b;
  margin: 0px 0px 88px 0px;
}

.contacts__row {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.location__inner {
  max-width: 55%;
}

.contacts__location, .contacts__share, .contacts__about {
  max-width: 30%;
}

.contacts__share .social a {
  border: 2px solid #fff;
  border-radius: 5px;
}

/* FOOTER BLOCK
==================== */
.footer {
  text-align: center;
  background-color: #313454;
}

.footer__inner {
  max-width: 350px;
  margin: 0 auto;
}

.footer p {
  color: #808080;
  line-height: 22.5px;
  padding: 29px 0px;
}

.heart {
  color: #e84545;
  font-family: Webdings;
}

.copyright {
  color: #ffffff;
}