@import url("https://fonts.googleapis.com/css2?family=Cardo:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

body, input, button, textarea, a {
  font-family: "Raleway", sans-serif;
  color: #fff;
}

.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1170px;
}

@keyframes bounce {
  0%, 25%, 50%, 75%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-12px);
  }
}
.btn {
  display: inline-block;
  width: 200px;
  height: 46px;
  font-size: 13px;
  line-height: 1.6;
  text-transform: uppercase;
  background-color: #e84545;
  padding: 13px 46px;
  margin: 0 auto;
  transition: all 0.1s linear;
}
.btn:hover {
  filter: drop-shadow(3px 5px 5px #000);
}

/* INTRO BLOCK>
===========================================================================================================*/
.first__screen {
  background: #2a2d48 url("../../img/bg-1.jpg") 0px 0px/cover no-repeat;
  height: 750px;
  margin: 0px 0px 47px 0px;
}

.header {
  position: fixed;
  z-index: 2;
  width: 100%;
  top: 0;
  left: 0;
  margin: 0px 0px 8% 0px;
  background-color: #2a2d48;
}

.header__row {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #505269;
  padding: 25px 10px 20px 10px;
}

.header__logo {
  transition: all 0.1s linear;
  z-index: 3;
}

.header__logo:hover {
  filter: drop-shadow(3px 5px 5px #000);
}

.header__burger {
  display: none;
  position: relative;
  width: 30px;
  height: 30px;
  margin: 0px 15px 0px 0px;
  z-index: 3;
  transition: all 0.1s linear;
}

.header__burger.active {
  border: 1px solid red;
}

.header__burger.active:before {
  transform: translateY(10px) rotate(-45deg);
}

.header__burger.active:after {
  transform: translateY(-10px) rotate(45deg);
}

.header__burger.active span {
  transform: scale(0);
}

.header__burger:before,
.header__burger:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #fff;
  left: 0;
  transition: all 0.2s linear;
}

.header__burger:before {
  top: 0;
}

.header__burger:after {
  top: 20px;
  left: 0px;
  width: 100%;
}

.header__burger span {
  position: absolute;
  background-color: #fff;
  width: 100%;
  height: 3px;
  top: 10px;
  left: 0px;
}

.header__menu {
  width: 70%;
}

.header__menu-list {
  display: flex;
  justify-content: flex-end;
  width: auto;
}
.header__menu-list li {
  margin-right: 7%;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  opacity: 0.75;
  transition: opacity 0.1s linear;
}
.header__menu-list li:last-child {
  margin-right: 0px;
}
.header__menu-list li:hover {
  opacity: 1;
}

.intro {
  text-align: center;
}

.intro__title {
  width: 80%;
  font-family: "Open Sans";
  font-size: 65px;
  font-weight: 700;
  line-height: 1.1;
  text-transform: uppercase;
  margin: 0px auto 41px auto;
  padding: 150px 0px 0px 0px;
}

.intro__subtitle {
  width: 80%;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0px auto 6.5% auto;
}

/* FEATURES BLOCK>
===========================================================================================================*/
.features__row {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.features__row:last-child {
  padding: 0px 0px 124px 0px;
}

.features__item {
  width: 26%;
  min-height: 186px;
  text-align: center;
  margin: 74px 0px 0px 0px;
}
.features__item:hover img {
  animation: bounce 2s;
}

.features__item-title {
  color: #2d3033;
  font-weight: 700;
  text-transform: uppercase;
  margin: 34px 0px 25px 0px;
}

.features__item-text {
  color: #6c7279;
  line-height: 1.5;
  padding: 0px;
}

/* GALLERY BLOCK>
===========================================================================================================*/
.gallery__block {
  margin: 0px 0px 75px 0px;
}

.gallery__row {
  display: flex;
  flex-wrap: wrap;
}

.gallery__element {
  position: relative;
  width: 25%;
  background-color: #e84545;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
}
.gallery__element img {
  width: 100%;
}
.gallery__element img:hover {
  opacity: 0.2;
}

.gallery__element:hover .author {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-item: center;
}

.author {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  text-align: center;
}
.author h3 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 0px 0px 13px 0px;
}

/* WORKERS BLOCK>
===========================================================================================================*/
.workers {
  margin: 0px 0px 100px 0px;
}

.workers__row {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0px -15px;
}

.workers__element {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 25%;
  padding: 15px 15px;
}
.workers__element img {
  display: block;
  width: 100%;
  height: auto;
}

.workers__element {
  position: relative;
}

.workers__element-info {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.workers__element-photo:hover:before {
  content: url("../../img/icons/moustache.png");
  position: absolute;
  top: 9%;
  left: 32%;
  width: 100%;
  height: 100%;
}

.workers__element:nth-of-type(2) .workers__element-photo:hover:before {
  top: 12%;
  left: 30%;
}

.workers__element:nth-of-type(4) .workers__element-photo:hover:before {
  top: 10%;
  left: 27%;
}

.name {
  min-height: 40px;
  color: #4b4e50;
  font-size: 22px;
  margin: 30px 0px 16px 0px;
}

.position {
  color: #e84545;
  font-size: 13px;
  text-transform: uppercase;
  margin-bottom: 20%;
}

.bio {
  color: #6c7279;
  line-height: 21px;
  margin: 30px 0px 30px 0px;
}

.social {
  display: flex;
}
.social a:hover {
  background-color: #c6cacc;
}
.social a:hover .social__icon {
  fill: #00acee;
}
.social a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 1px solid #c6cacc;
  border-radius: 3px;
  margin: 2px;
  transition: all 0.1s linear;
}

.social__icon {
  display: block;
  fill: #c6cacc;
  height: 18px;
}

/* QUOTE BLOCK>
===========================================================================================================*/
.quote {
  margin: 0px 0px 100px 0px;
  background-color: #53354a;
  overflow: hidden;
}

.quote__row {
  display: flex;
  flex-wrap: wrap;
}

.photo {
  position: relative;
  width: 50%;
  height: 500px;
}
.quote__img {
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 1;
  transform: translateY(-50%);
}

.quote__text {
  width: 50%;
  flex: 1 1 auto;
  text-align: left;
  padding: 6%;
}

.quote__text-title {
  max-width: 510px;
  font-family: Cardo;
  font-size: 36px;
  line-height: 42px;
  margin: 0px 0px 7% 0px;
}

.quote__text-name {
  font-size: 13px;
  font-weight: 700;
  line-height: 21px;
  text-transform: uppercase;
}

/* DOWNLOAD BLOCK>
===========================================================================================================*/
.download {
  text-align: center;
}

.download__title {
  color: #2d3033;
  font-size: 28px;
  font-weight: 300;
  line-height: 21px;
  margin: 0px 0px 16px 0px;
  padding: 0px 5%;
}

.download__subtitle {
  color: #2d3033;
  font-size: 13px;
  font-weight: 700;
  line-height: 21px;
  text-transform: uppercase;
  margin: 0px 0px 58px 0px;
}

.download__btn {
  display: inline-block;
  width: 280px;
  height: 46px;
  margin: 0px 0px 5% 0px;
}

/* CONTACTS BLOCK>
===========================================================================================================*/
.contacts {
  background-color: #3a3e64;
  text-align: center;
  padding: 0px 0px 30px 0px;
}
.contacts h3 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 71px 0px 22px 0px;
}
.contacts p {
  line-height: 22.5px;
  color: #80839b;
  margin: 0px 0px 0px 0px;
}

.contacts__row {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.location__inner {
  max-width: 55%;
}

.contacts__location, .contacts__share, .contacts__about {
  max-width: 30%;
}

.contacts__share .social a {
  border: 2px solid #fff;
  border-radius: 5px;
}

/* FOOTER BLOCK>
===========================================================================================================*/
.footer {
  text-align: center;
  background-color: #313454;
}
.footer p {
  color: #808080;
  line-height: 22.5px;
  padding: 29px 0px;
}

.footer__inner {
  max-width: 350px;
  margin: 0 auto;
}

.heart {
  color: #e84545;
  font-family: Webdings;
}

.copyright {
  color: #ffffff;
}

/* Media>
===========================================================================================================*/
@media (max-width: 767.98px) {
  body.lock {
    overflow: hidden;
  }
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  width: 100%;
}
@media (max-width: 1182px) {
  .container {
    max-width: 970px;
  }
}
@media (max-width: 991.98px) {
  .container {
    max-width: 750px;
  }
}
@media (max-width: 767.98px) {
  .container {
    max-width: none;
    padding: 0 10px;
  }
}

@media (max-width: 1182px) {
  .first__screen {
    height: auto;
  }
}
@media (max-width: 767.98px) {
  .first__screen {
    height: auto;
    padding-bottom: 25px;
  }
}

@media (max-width: 1182px) {
  .header {
    margin: 0px 0px 25px 0px;
  }
}

@media (max-width: 767.98px) {
  .header__burger {
    display: block;
  }
}

@media (max-width: 767.98px) {
  .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #31344e;
    padding: 100px 0px 0px 0px;
    transition: transform 0.3s linear;
  }
}

@media (max-width: 767.98px) {
  .header__menu.active {
    transform: translateY(100%);
  }
}

@media (max-width: 767.98px) {
  .header__menu-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 767.98px) {
  .header__menu-list li {
    font-size: 40px;
    margin: 25px;
  }
}

@media (max-width: 1182px) {
  .intro__title {
    font-size: 45px;
  }
}
@media (max-width: 767.98px) {
  .intro__title {
    font-size: 35px;
  }
}

@media (max-width: 1182px) {
  .intro__subtitle {
    font-size: 18px;
  }
}
@media (max-width: 767.98px) {
  .intro__subtitle {
    display: none;
  }
}

@media (max-width: 1182px) {
  .title__btn {
    margin: 0px 0px 35px 0px;
  }
}

@media (max-width: 1182px) {
  .workers__element-info {
    padding-left: 15px;
  }
}

@media (max-width: 991.98px) {
  .features .features__row {
    flex-direction: column;
    padding: 0px;
  }
}
@media (max-width: 991.98px) {
  .features__item {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin: 0px;
    min-height: 100px;
  }
}
@media (max-width: 991.98px) {
  .features__item img {
    display: inline-block;
    width: 30px;
    height: 30px;
  }
}
@media (max-width: 767.98px) {
  .features__item img {
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 991.98px) {
  .features__item-info {
    width: 79%;
    padding: 0px 0px 0px 15px;
  }
}
@media (max-width: 767.98px) {
  .features__item-text {
    width: 100%;
  }
}

@media (max-width: 991.98px) {
  .features__item-title {
    margin: 0px 0px 10px 0px;
  }
}
@media (max-width: 767.98px) {
  .features__item-title {
    margin: 10px 0px 5px 0px;
  }
}

@media (max-width: 991.98px) {
  .gallery__element {
    width: 50%;
    overflow: hidden;
  }
}
@media (max-width: 991.98px) {
  .workers__element-info p {
    display: none;
  }
}
@media (max-width: 991.98px) {
  .workers {
    margin: 0px 0px 25px 0px;
  }
}
@media (max-width: 767.98px) {
  .workers__element {
    max-width: 50%;
  }
}

@media (max-width: 767.98px) {
  .workers__row {
    flex-wrap: wrap;
  }
}

@media (max-width: 991.98px) {
  .social a {
    width: 30px;
    height: 30px;
    padding: 0;
  }
}
@media (max-width: 767.98px) {
  .social a {
    flex: 0 0 auto;
    width: 25px;
    height: 25px;
    padding: 0;
  }
}

@media (max-width: 991.98px) {
  .quote {
    margin: 0px 0px 35px 0px;
  }
}
@media (max-width: 991.98px) {
  .photo img {
    object-position: 100px top;
  }
}
@media (max-width: 767.98px) {
  .photo img {
    object-position: 200px top;
  }
}

@media (max-width: 991.98px) {
  .quote__text-title {
    font-size: 26px;
  }
}
@media (max-width: 767.98px) {
  .quote__text-title {
    font-size: 20px;
    padding-bottom: 15px;
  }
}

@media (max-width: 991.98px) {
  .footer__inner {
    margin: 0 auto;
    min-width: 80%;
  }
}
@media (max-width: 991.98px) {
  .footer__inner p {
    width: 100%;
    padding: 10px;
  }
}