@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li, nav {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
/*--------- ПОДКЛЮЧЕНИЕ ШРИФТОВ -----------*/
/*--------------------*/
body {
  font-family: "Montserrat", sans-serif;
}

a {
  color: #fff;
}

h2, h3, h4, p {
  text-align: center;
}

h2 {
  color: #333333;
  font-family: Montserrat;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

h3 {
  color: #333333;
  font-family: "Kaushan Script";
  font-size: 24px;
}

h4 {
  text-transform: uppercase;
}

p {
  padding: 0px 15px;
  color: #999999;
  font-family: Roboto;
  font-size: 15px;
  line-height: 24px;
}

.container {
  max-width: 1210px;
  margin: 0 auto;
}

.intro {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to bottom, rgba(243, 129, 129, 0.8), rgba(252, 227, 138, 0.8));
}

.intro h2 {
  color: #fff;
}

.header {
  display: flex;
  justify-content: space-between;
}

.logo {
  display: inline-block;
  color: #ffffff;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 28px 0px 0px 11px;
}

.logo a {
  transition: color 0.2s linear;
}

.logo a:hover {
  color: #fce38a;
}

.header__menu {
  display: inline-block;
  margin: 40px 0px 0px 0px;
}

.header__menu__list {
  display: flex;
  justify-content: space-around;
  max-width: 620px;
}

.header__menu__list a {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  padding: 0px 0px 12px 0px;
  margin: 40px 55px 0px 0px;
  transition: color 0.2s linear;
}

.header__menu__list a:last-child {
  padding-right: 0;
}

.header__menu__list a:hover {
  border-bottom: 3px solid #fce38a;
  color: #fce38a;
}

.header__menu__list img {
  width: 40%;
}

.intro__title {
  color: #fff;
  max-width: 802px;
  text-align: center;
  margin: 178px auto 0px auto;
}

.intro__title h2 {
  font-family: "Kaushan Script";
  font-size: 72px;
}

.intro__title h1 {
  font-size: 150px;
  font-weight: 700;
  line-height: 140px;
  text-transform: uppercase;
  margin: 42px 0px 48px 0px;
}

.dash {
  display: block;
  margin: 0px 0px 65px 0px;
}

.intro__title a {
  text-transform: uppercase;
  font-weight: 700;
  padding: 9px 30px;
  border: 3px solid #fff;
  transition: all 0.1s linear;
}

.intro__title a:hover {
  border-radius: 20px;
  background-color: #333;
}

.intro__title-slider {
  display: flex;
  justify-content: space-around;
  margin: 18px 0px 28px 0px;
  font-size: 18px;
  text-transform: uppercase;
}

.slider__element span {
  font-size: 24px;
  font-weight: 700;
  margin-right: 10px;
}

.slider__element {
  position: relative;
  margin: 8% 0px 0px 0px;
  padding-top: 25px;
  color: #fff;
  font-weight: bold;
}

.slider__element:after {
  position: absolute;
  content: "";
  width: 200px;
  height: 3px;
  top: 0%;
  left: 0%;
  background-color: #fff;
}

.slider__element:hover {
  color: #333;
}

.story {
  text-align: center;
}

.story h2 {
  color: #333333;
  font-family: Montserrat;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 90px;
}

.story h2:after {
  position: absolute;
  content: "";
  width: 60px;
  height: 3px;
  left: 48%;
  top: 100%;
  margin: 40px 0px 47px 0px;
  background-color: #f38181;
}

.story h3 {
  color: #333333;
  font-family: "Kaushan Script";
  font-size: 24px;
  margin: 91px 0px 23px 0px;
}

.story p {
  margin: 0px 0px 101px 0px;
  padding: 0px 15px;
  color: #999999;
  font-family: Roboto;
  font-size: 15px;
  line-height: 24px;
}

.story__row {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0px 0px 110px 0px;
}

.story_img {
  background-image: linear-gradient(to bottom, #f38181, #fce38a);
  transition: all 0.2s linear;
}

.story_img:hover {
  transform: translate3d(-10px, -10px, 0px);
}

[class^=story__element] {
  background-color: #95e1d3;
  max-width: 380px;
  position: relative;
  margin-top: 20px;
}

[class^=story__element]:hover .story__text {
  opacity: 1;
}

[class^=story__element] img:hover {
  padding: 0px 10px 0px 0px;
  opacity: 0.2;
}

.story__text {
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  position: absolute;
  top: 50%;
  left: 33%;
  opacity: 0;
  transition: opacity 0.2s ease-in;
}

.counters {
  background-color: #95e1d3;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 110px;
}

.counters h2, p {
  color: #fff;
}

.counter__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.counter__item {
  border-left: 1px solid #b5eae0;
  flex: 1 1 0;
  padding: 89px 0px 129px 0px;
  transition: all 0.2s linear;
}

.counter__item:last-child {
  border-right: 1px solid #b5eae0;
}

.counter__item:hover h2,
.counter__item:hover p {
  color: #333;
}

.counter__item h2 {
  font-size: 72px;
  font-weight: 700;
}

.services h2 {
  position: relative;
  margin-top: 22px;
  margin-bottom: 153px;
}

.services h2:after {
  content: "";
  position: absolute;
  width: 60px;
  height: 3px;
  top: 100%;
  left: 48%;
  background-color: #f38181;
  margin-top: 42px;
}

.services__row {
  display: flex;
  margin: 0px 0px 50px 0px;
  border-bottom: 2px solid #e5e5e5;
  padding-bottom: 51px;
}

.services__row:last-child {
  border: none;
}

.services__row-item {
  display: inline-flex;
  flex: 1 1 30%;
}

.services__row-item h4 {
  color: #333333;
  text-transform: uppercase;
  text-align: left;
}

.services__row-item h5 {
  color: #999999;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

.services__row-item:hover .services__logo {
  animation: bouncing 0.8s cubic-bezier(0.1, 0.1, 0.1, 1) 0s infinite alternate both;
}

.services__logo {
  display: inline-block;
  vertical-align: top;
  margin: 0px 30px 0px 39px;
}

.services__info {
  display: inline-block;
  max-width: 273px;
}

@keyframes bouncing {
  0% {
    transform: translateY(0px);
  }
  10% {
    transform: translateY(5px);
  }
  20% {
    transform: translateY(10px);
  }
  30% {
    transform: translateY(15px);
  }
  60% {
    transform: rotate(-10deg);
  }
  80% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}