.header a, a:hover {
	color: #f0ad4e;
	text-decoration: none;
}

.header h1 {
	font-size: 300%;
	letter-spacing: 13px;
	color: orange;
}

.header p {
	letter-spacing: 3px;
	color: white;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #fff;
    background-color: #346270;
}

.nav-pills>li>a {
    color: #fff;
}

.nav-pills>li>a:hover {
    background-color: #346270;
}

.navbar-inverse {
    padding-bottom: 1%;
}

/* For small screens */

@media (max-width: 767px) {
	.nav-pills>li {
		float: none;
		text-align: center;
	}
}